<div class="app-c-text-input">
  <label for="<%= name %>"><%= label %></label>
  <input
    type="text"
    name="<%= name %>"
    id="<%= name %>"
    value="<%= value %>"
    placeholder="<%= placeholder %>"
   />
</div>
