<div class="app-c-text-input <%= "error" if error.present? %>">
  <label for="<%= name %>"><%= label %></label>
  <input
    type="text"
    name="<%= name %>"
    id="<%= name %>"
    value="<%= value %>"
    placeholder="<%= placeholder %>"
   />
   <p class="error"><%= error %></p>
</div>
