<% content_for :title, t("subscriptions_management.confirm_unsubscribe_all.heading") %>

<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: @back_url
  } %>
<% end %>

<%= render "govuk_publishing_components/components/heading", {
  text: t("subscriptions_management.confirm_unsubscribe_all.heading"),
  heading_level: 1,
  font_size: "l",
  margin_bottom: 6,
} %>

<p class="govuk-body"><%= t("subscriptions_management.confirm_unsubscribe_all.description") %></p>

<%
  ga4_data = {
    event_name: "form_response",
    type: "email subscription",
    text: "You won't get any more automated emails from GOV.UK",
    section: t("subscriptions_management.confirm_unsubscribe_all.heading", locale: :en),
    action: "unsubscribe",
    tool_name: "Get emails from GOV.UK"
  }.to_json
%>
<%= form_tag(
  { action: :confirmed_unsubscribe_all },
  data: {
    module: "ga4-form-tracker",
    ga4_form: ga4_data
  }) do %>
  <%= hidden_field_tag(:from, @from) %>
  <%= render 'govuk_publishing_components/components/button', {
    text: 'Unsubscribe',
    margin_bottom: true
  } %>
<% end %>
<p class="govuk-body">
  <%= link_to "Cancel", @back_url, class: %w[govuk-link govuk-link--no-visited-state] %>
</p>
