<% content_for :title, 'Manage your subscriptions' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"> Manage your subscriptions</h1>

    <% if flash[:success] %>
      <%= render 'govuk_publishing_components/components/success_alert', {
        message: flash[:success]
      } %>
    <% end %>

    <h2 class="govuk-heading-m">
      <%= "Subscriptions for #{@subscriber['address']}" %>
    </h2>
    <%= govspeak do %>
      <p><%= link_to "Change email address", update_address_path %></p>
    <% end %>

    <hr class="govuk-section-break govuk-section-break--l">

    <% if @subscriptions.empty? %>
      <%= govspeak do %>
        <p>
          You aren’t subscribed to any topics on GOV.UK.
          <a href="/help/update-email-notifications#how-to-subscribe">Find out how to subscribe</a>.
        </p>
      <% end %>
    <% else %>
      <% @subscriptions.each do |_key, subscription| %>
        <h3 class="govuk-heading-s">
          <%= subscription['subscriber_list']['title'] %>
        </h3>
        <%= govspeak do %>
          <p>
            <% frequency_summary(message: :subscribed_summary, frequency: subscription['frequency']) %>
            <br><a href="<%= update_frequency_path(id: subscription['id']) %>">Change how often you get updates</a>
          </p>
          <p><a href="<%= confirm_unsubscribe_path(id: subscription['id']) %>">Unsubscribe</a></p>
        <% end %>
        <hr class="govuk-section-break govuk-section-break--m">
      <% end %>

      <% unsubscribe_all_text = capture do %>
        <p class="govuk-body"><%= link_to "Unsubscribe from everything", confirm_unsubscribe_all_path %></p>
      <% end %>

      <%= render "govuk_publishing_components/components/inset_text", {
        text: unsubscribe_all_text
      } %>
    <% end %>
  </div>
</div>
