<% content_for :title, 'Manage your subscriptions' %>

<% content_for :head do %>
  <meta name="robots" content="noindex, nofollow">
<% end %>

<% content_for :head_css do %>
  <%= stylesheet_link_tag 'application-without-elements' %>
<% end %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title', title: 'Manage your subscriptions' %>

    <% if flash[:success] %>
      <div class="responsive-bottom-margin">
        <%= render 'govuk_publishing_components/components/success_alert', {
          message: flash[:success]
        } %>
      </div>
    <% end %>

    <%= render 'components/heading', {
      text: "Subscriptions for #{@subscriber['address']}",
      heading_level: 2
    } %>
    <%= render 'govuk_component/govspeak', {
      content: %{<p><a href="#{update_address_path}">Change email address</a></p>}
    } %>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds add-title-margin">
    <% if @subscriptions.empty? %>
      <%= render 'govuk_component/govspeak', {
        content: %{<p>You aren’t subscribed to any topics on GOV.UK. <a href="/help/update-email-notifications#how-to-subscribe">Find out how to subscribe</a>.</p>}
      } %>
    <% else %>
      <% @subscriptions.each do |_key, subscription| %>
        <div class="responsive-bottom-margin">
          <%= render 'components/heading', {
            text: subscription['subscriber_list']['title'],
            heading_level: 3
          } %>
          <% subscription_info = capture do %>
            <p>
              <% if subscription['frequency'] == "daily" %>
                You chose to get daily updates.
              <% elsif subscription['frequency'] == "weekly" %>
                You chose to get weekly updates.
              <% else %>
                You chose to get updates as soon as they happen.
              <% end %>
              <br><a href="<%= update_frequency_path(id: subscription['id']) %>">Change how often you get updates</a>
            </p>
            <p><a href="<%= confirm_unsubscribe_path(id: subscription['id']) %>">Unsubscribe</a></p>
          <% end %>
          <%= render 'govuk_component/govspeak', {
            content: subscription_info
          } %>
        </div>
      <% end %>
      <%= render 'govuk_component/govspeak', {
        content: %{<div class="info-notice"><p><a href="#{confirm_unsubscribe_all_path}">Unsubscribe from everything</a></p></div>}
      } %>
    <% end %>
  </div>
</div>
