<% content_for :title, t("subscriptions_management.heading") %>

<% if flash[:success] %>
  <%= render 'govuk_publishing_components/components/success_alert', {
    message: flash[:success]["message"],
    description: flash[:success]["description"],
  } %>
<% end %>

<% if flash[:subscription] %>
  <% subscription = @subscriptions[flash[:subscription]['id']] %>

  <% if subscription %>
    <% description = capture do %>
      <p class="govuk-body">
        <%= t("subscriptions_management.index.flashes.subscription.#{subscription['frequency']}") %>
      </p>
      <p><strong><%= subscription['subscriber_list']['title'] %></strong></p>
    <% end %>

    <%= render 'govuk_publishing_components/components/success_alert', {
      message: flash[:subscription]['message'],
      description: description
    } %>
  <% end %>
<% end %>

<% if use_govuk_account_layout? %>
  <% content_for :before_content do %>
    <%= render "govuk_publishing_components/components/breadcrumbs", {
      collapse_on_mobile: true,
      breadcrumbs: [
        {
          title: t("subscriptions_management.account_breadcrumb"),
          url: GovukPersonalisation::Urls.your_account,
        },
      ]
    } %>
    <% end %>
<% end %>

<%= render "govuk_publishing_components/components/heading", {
  text: t("subscriptions_management.heading"),
  heading_level: 1,
  font_size: "l",
  margin_bottom: 6,
} %>

<% unless use_govuk_account_layout? %>
  <%= render "govuk_publishing_components/components/heading", {
    text: "Subscriptions for #{@subscriber['address']}",
    heading_level: 2,
    font_size: "m",
    margin_bottom: 4,
  } %>

  <p class="govuk-body">
    <%= link_to "Change email address",
                update_address_path,
                class: %w[govuk-link govuk-link--no-visited-state] %>
  </p>

  <hr class="govuk-section-break govuk-section-break--l">
<% end %>

<% if @subscriptions.empty? %>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <%= t("subscriptions_management.no_subscriptions_warning_html") %>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<% else %>
  <% unsubscribe_all_text = capture do %>
    <p class="govuk-body">
      <%= link_to "Unsubscribe from everything",
                  confirm_unsubscribe_all_path,
                  class: %w[govuk-link govuk-link--no-visited-state] %>
    </p>
  <% end %>

  <%= render "govuk_publishing_components/components/inset_text", {
    text: unsubscribe_all_text
  } %>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <% @subscriptions.each do |_key, subscription| %>
    <span class="govuk-body govuk-!-margin-bottom-3">
      <% if is_single_page_subscription?(subscription) %>
        Page
      <% else %>
        Topic
      <% end %>
    </span>

    <%= render "govuk_publishing_components/components/heading", {
      text: get_heading_content(subscription),
      heading_level: use_govuk_account_layout? ? 2 : 3,
      font_size: "m",
      margin_bottom: 4
    } %>

    <% if is_single_page_subscription?(subscription) %>
      <p class="govuk-body">
        <%= get_updated_at_from_subscription(subscription).to_datetime.strftime(t("subscriptions_management.index.last_updated")) %>
      </p>
    <% end %>

    <p class='govuk-body'>
      <%= subscription['created_at'].to_datetime.strftime(t("subscriptions_management.index.you_subscribed")) %>
    </p>
    <% if subscription['subscriber_list']['url'] =~ %r{transition-check/results} ||
      subscription['subscriber_list']['url'] =~ %r{get-ready-brexit-check/results} %>
      <p class="govuk-body">
        <%= link_to 'You can view a copy of your results on GOV.UK',
                    subscription['subscriber_list']['url'],
                    class: %w[govuk-link govuk-link--no-visited-state] %>
      </p>
    <% end %>
    <p class="govuk-body">
      <%= t("subscriptions_management.index.subscription.#{subscription['frequency']}") %>
      <br>
      <% change_frequency_link_text = capture do %>
        Change how often you get emails <span class="govuk-visually-hidden"> about <%= subscription['subscriber_list']['title'] %></span>
      <% end %>
      <%= link_to change_frequency_link_text,
                  update_frequency_path(id: subscription['id']),
                  class: %w[govuk-link govuk-link--no-visited-state] %>
    </p>
    <p class="govuk-body">
      <% unsubscribe_link_text = capture do %>
        Unsubscribe <span class="govuk-visually-hidden"> from <%= subscription['subscriber_list']['title'] %></span>
      <% end %>
      <%= link_to unsubscribe_link_text,
                  confirm_unsubscribe_path(id: subscription['id']),
                  class: %w[govuk-link govuk-link--no-visited-state] %>
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <% end %>
<% end %>
