<% content_for :title, 'Manage your subscriptions' %>

<% content_for :head_css do %>
  <%= stylesheet_link_tag 'application-without-elements' %>
<% end %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= title 'Manage your subscriptions' %>

    <% if flash[:success] %>
      <div class="responsive-bottom-margin">
        <%= render 'govuk_publishing_components/components/success_alert', {
          message: flash[:success]
        } %>
      </div>
    <% end %>

    <%= render 'components/heading', {
      text: "Subscriptions for #{@subscriber['address']}",
      heading_level: 2
    } %>

    <%= govspeak do %>
      <p><%= link_to "Change email address", update_address_path %></p>
    <% end %>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds add-title-margin">
    <% if @subscriptions.empty? %>
      <%= govspeak do %>
        <p>
          You aren’t subscribed to any topics on GOV.UK.
          <a href="/help/update-email-notifications#how-to-subscribe">Find out how to subscribe</a>.
        </p>
      <% end %>
    <% else %>
      <% @subscriptions.each do |_key, subscription| %>
        <div class="responsive-bottom-margin">
          <%= render 'components/heading', {
            text: subscription['subscriber_list']['title'],
            heading_level: 3
          } %>
          <%= govspeak do %>
            <p>
              <% if subscription['frequency'] == "daily" %>
                You chose to get daily updates.
              <% elsif subscription['frequency'] == "weekly" %>
                You chose to get weekly updates.
              <% else %>
                You chose to get updates as soon as they happen.
              <% end %>
              <br><a href="<%= update_frequency_path(id: subscription['id']) %>">Change how often you get updates</a>
            </p>
            <p><a href="<%= confirm_unsubscribe_path(id: subscription['id']) %>">Unsubscribe</a></p>
          <% end %>
        </div>
      <% end %>

      <%= govspeak do %>
        <div class="info-notice">
          <p><%= link_to "Unsubscribe from everything", confirm_unsubscribe_all_path %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
