<% content_for :title, t("subscriptions_management.heading") %>

<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: @back_url
  } %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t("subscriptions_management.heading") %></h1>

    <%= form_tag change_frequency_path, method: :post do %>
      <%= hidden_field_tag :id, @subscription_id %>
        <%= render 'govuk_publishing_components/components/fieldset', {
          legend_text: '<h2 class="govuk-heading-m">How often do you want to receive emails?</h2>'.html_safe,
        } do %>
          <%= render 'govuk_publishing_components/components/radio', {
            name: 'new_frequency',
            items: frequencies(:checked_frequency => @current_frequency)
          } %>
        <% end %>

        <%= render 'govuk_publishing_components/components/button', {
          text: 'Save',
          margin_bottom: true,
          data_attributes: {
            module: 'auto-track-event',
            track_category: 'email_subscriptions',
            track_action: 'update_frequency',
            track_label: @current_frequency,
          }
        } %>
    <% end %>
    <p class="govuk-body">
      <%= link_to "Cancel", @back_url, class: %w[govuk-link govuk-link--no-visited-state] %>
    </p>
  </div>
</div>
