<% content_for :title, 'Manage your subscriptions' %>

<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: @back_url
  } %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Manage your subscriptions</h1>

    <%= form_tag change_frequency_path, method: :post do %>
      <%= hidden_field_tag :id, @subscription_id %>
        <%= render 'govuk_publishing_components/components/fieldset', {
          legend_text: '<h2 class="govuk-heading-m">How often do you want to get updates?</h2>'.html_safe,
        } do %>
          <%= render 'govuk_publishing_components/components/radio', {
            name: 'new_frequency',
            items: [
              {
                value: 'immediately',
                text: 'As soon as they happen',
                checked: (@current_frequency == 'immediately'),
              },
              {
                value: 'daily',
                text: 'No more than once a day',
                checked: (@current_frequency == 'daily'),
              },
              {
                value: 'weekly',
                text: 'No more than once a week',
                checked: (@current_frequency == 'weekly'),
              }
            ]
          } %>
        <% end %>

        <%= render 'govuk_publishing_components/components/button', {
          text: 'Save',
          margin_bottom: true,
          data_attributes: {
            module: 'auto-track-event',
            track_category: 'email_subscriptions',
            track_action: 'update_frequency',
            track_label: @current_frequency,
          }
        } %>
    <%- end -%>
    <%= govspeak do %>
      <p><%= link_to "Cancel", @back_url %></p>
    <% end %>
  </div>
</div>
