<% content_for :title, email_alert_signup.title %>
<% content_for :meta_description, email_alert_signup.summary %>

<% if email_alert_signup.government? %>
  <%= render partial: 'govuk_component/government_navigation', locals: { active: email_alert_signup.government_content_section } %>
<% end %>

<header>
  <%= title email_alert_signup.title, context: "Email alert subscription" %>
</header>

<%= form_for email_alert_signup, html: { class: "signup-form" } do |form| %>
  <p><%= email_alert_signup.summary %></p>

  <%= button_tag 'Create subscription' %>
<% end %>
