<% content_for :title, t("email_alert_signups.new.title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render "govuk_publishing_components/components/heading", {
      text: t("email_alert_signups.new.title"),
      heading_level: 1,
      font_size: "l",
      margin_bottom: 6,
    } %>

    <p class="govuk-body">
      <%= t("email_alert_signups.new.description") %>
    </p>

    <p class="govuk-body govuk-!-margin-bottom-8">
      <strong><%= email_alert_signup.title %></strong>
    </p>

    <%= form_tag(action: :create) do %>
      <%= render "govuk_publishing_components/components/button", {
        text: "Continue",
        margin_bottom: true,
      } %>
    <% end %>
  </div>
</div>
