<% content_for :title, t("single_page_subscriptions.title") %>

<%= render "govuk_publishing_components/components/heading", {
  text: t("single_page_subscriptions.title"),
  heading_level: 1,
  font_size: "l",
  margin_bottom: 6
} %>

<p class="govuk-body">
  <%= t("single_page_subscriptions.account_required_description") %>
</p>

<p class="govuk-body">
  <%= t("single_page_subscriptions.other_subs_description_1") %>
</p>

<p class="govuk-body">
  <%= t("single_page_subscriptions.other_subs_description_2") %>
</p>

<%= form_tag govuk_account_signups_new_session_path, method: :post, :"data-module" => "explicit-cross-domain-links" do %>
  <%= render "govuk_publishing_components/components/button", {
    text: t("single_page_subscriptions.create_or_sign_in_description"),
    data_attributes: {
      module: "gem-track-click ga4-link-tracker",
      track_action: t("single_page_subscriptions.create_or_sign_in_description"),
      track_category: "External link clicked",
      track_label: @topic_id,
      ga4_link: {
        "event_name": "navigation",
        "type": "generic link",
        "url": "https://signin.account.gov.uk/sign-in-or-create"
      }.to_json
    }
  } %>

  <%= hidden_field_tag(:topic_id, @topic_id) %>
<% end %>
