<% content_for :title, @content_item['title'] %>

<% if live_content_item?(@content_item) %>
  <% content_for :back_link do %>
    <%= render "govuk_publishing_components/components/back_link", {
      href: :back
    } %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Sign up to get emails</h1>

    <p class="govuk-body">
      Get emails when information changes on GOV.UK about: <%= @content_item['title'] %>.
    </p>

    <% if @subscription.description.present? %>
      <p class="govuk-body"><%= @subscription.description %></p>
    <% end %>

    <% if estimated_email_frequency %>
      <p class="govuk-body">
        This might be between <%= estimated_email_frequency %> updates a week.
      </p>
  <% end %>

    <p class="govuk-body">
      You can choose how often you want to receive emails.
    </p>

    <%= form_tag(:action => :create) do %>
      <%= hidden_field_tag 'link', @content_item['base_path'] %>
      <%= submit_tag('Sign up', class: 'govuk-button') %>
    <% end %>

  </div>
</div>
