<% content_for :title, t("content_item_signups.taxon.title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <% if flash[:error] %>
      <%= render "govuk_publishing_components/components/error_summary", {
        title: t('content_item_signups.taxon.general_problem'),
        items: [
          {
            text: flash[:error],
            href: "#topic",
          }
        ]
      } %>
    <% end %>

    <h1 class="govuk-heading-l"><%= t("content_item_signups.taxon.title") %></h1>

    <%= form_tag({ action: :confirm },
                 method: "get",
                 data: {
                   module: "track-email-alert-signup-choices",
                   track_action: "new_topic",
                   track_category: "email_subscriptions",
                 }) do %>

      <%
         radio_items = taxon_children(@content_item).map do |taxon|
           { :value => taxon['base_path'], :text => taxon['title'] }
         end
      %>

      <%= render "govuk_publishing_components/components/radio", {
        name: "topic",
        id_prefix: "topic",
        error_message: flash[:error],
        items: radio_items + [
          :or,
          {
            value: @content_item['base_path'],
            text: "#{@content_item['title']} (all topics)",
          }
        ]
      } %>

      <%= hidden_field_tag "link", @content_item['base_path'] %>

      <%= render "govuk_publishing_components/components/button", {
        text: "Continue",
        margin_bottom: true
      } %>
    <% end %>
  </div>
</div>
