<% content_for :title, "Confirm unsubscription" %>
<% content_for :head_css do %>
  <%= stylesheet_link_tag "unsubscriptions" %>
<% end %>

<% if @title %>
  <p>You are unsubscribing from <%= @title %></p>
<% else %>
  <p>Confirm your unsubscription</p>
<% end %>

<%= form_tag(action: :confirmed) do %>
  <%= hidden_field_tag(:title, @title) %>
  <%= button_tag 'Unsubscribe' %>
<% end %>
