<% content_for :title, "Confirm unsubscription" %>
<header>
  <%= render partial: 'govuk_component/title', locals: {
    title: @title,
    context: "Confirm your unsubscription"
  } %>
</header>

<% if @title %>
  <p>You are unsubscribing from <%= @title %></p>
<% else %>
  <p>Confirm your unsubscription</p>
<% end %>

<%= form_tag(action: :confirmed) do %>
  <%= hidden_field_tag(:title, @title) %>
  <%= button_tag 'Unsubscribe' %>
<% end %>
