<% content_for :title, 'Are you sure you want to unsubscribe?' %>

<% if @authenticated_for_subscription %>
  <% content_for :back_link do %>
    <%= render "govuk_publishing_components/components/back_link", {
      href: list_subscriptions_path
    } %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Are you sure you want to unsubscribe?</h1>

    <%= govspeak do %>
      <% if @title %>
        <p>You won’t get any more updates about <%= @title %>.</p>
      <% else %>
        <p>You won’t get any more updates about this topic.</p>
      <% end %>
    <% end %>

    <%= form_tag(action: :confirmed) do %>
      <%= render 'govuk_publishing_components/components/button', {
        text: 'Unsubscribe',
        margin_bottom: true,
        data_attributes: {
          module: 'auto-track-event',
          track_category: 'email_subscriptions',
          track_action: 'unsubscribe_list',
          track_label: @title,
        },
      } %>
    <% end %>
    <% if @authenticated_for_subscription %>
      <%= govspeak do %>
        <p><%= link_to "Cancel", list_subscriptions_path %></p>
      <% end %>
    <% end %>
  </div>
</div>
