<%
page_title = "You’ve already unsubscribed"
page_title += " from #{@title}" if @title
content_for :title, page_title
%>

<% content_for :head_css do %>
  <%= stylesheet_link_tag 'application-without-elements' %>
<% end %>

<% if @authenticated_for_subscription %>
  <%= render 'govuk_publishing_components/components/back_link', {
    href: list_subscriptions_path,
  } %>
<% end %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= title page_title %>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <% paragraph_text = capture do %>
      <% if @title %>
        <p>You won’t get any more updates about <%= @title %>.</p>
      <% else %>
        <p>You won’t get any more updates about this topic.</p>
      <% end %>
    <% end %>
    <%= render 'govuk_component/govspeak', {
      content: paragraph_text
    } %>
  </div>
</div>
