<% content_for :title, 'You’ve successfully unsubscribed' %>

<% content_for :head_css do %>
  <%= stylesheet_link_tag 'application-without-elements' %>
<% end %>

<% if @from_subscription_management %>
  <%= render 'govuk_publishing_components/components/back_link', {
    href: @back_url,
  } %>
<% end %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= title 'You’ve successfully unsubscribed' %>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= govspeak do %>
      <% if @title %>
        <p>You won’t get any more updates about <%= @title %>.</p>
      <% else %>
        <p>You won’t get any more updates about this topic.</p>
      <% end %>
      <% if @from_subscription_management %>
        <p><a href="<%= @back_url %>">Back to manage your subscriptions</a>.</p>
      <% end %>
    <% end %>
  </div>
</div>
