<% content_for :title, 'Are you sure you want to unsubscribe?' %>

<% content_for :head_css do %>
  <%= stylesheet_link_tag 'application-without-elements' %>
<% end %>

<% if @authenticated_for_subscription %>
  <%= render 'govuk_publishing_components/components/back_link', {
    href: list_subscriptions_path,
  } %>
<% end %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title', title: 'Are you sure you want to unsubscribe?' %>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <% paragraph_text = capture do %>
      <% if @title %>
        <p>You won’t get any more updates about <%= @title %>.</p>
      <% else %>
        <p>You won’t get any more updates about this topic.</p>
      <% end %>
    <% end %>
    <%= render 'govuk_component/govspeak', {
      content: paragraph_text
    } %>
    <%= form_tag(action: :confirmed) do %>
      <%= render 'govuk_publishing_components/components/button', {
        text: 'Unsubscribe',
        margin_bottom: true,
        data_attributes: {
          module: 'auto-track-event',
          track_category: 'email_subscriptions',
          track_action: 'unsubscribe_list',
          track_label: @title,
        },
      } %>
    <% end %>
    <% if @authenticated_for_subscription %>
      <%= render 'govuk_component/govspeak', {
        content: %{<p><a href="#{list_subscriptions_path}">Cancel</a></p>}
      } %>
    <% end %>
  </div>
</div>
