<% content_for :title, t("unsubscriptions.title.confirm") %>

<% if authenticated? %>
  <% content_for :back_link do %>
    <%= render "govuk_publishing_components/components/back_link", {
      href: list_subscriptions_path
    } %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t("unsubscriptions.title.confirm") %></h1>

    <%= render "confirmation" %>

    <%= form_tag(action: :confirmed) do %>
      <%= hidden_field_tag :token, params[:token] %>

      <%= render 'govuk_publishing_components/components/button', {
        text: 'Unsubscribe',
        margin_bottom: true,
        data_attributes: {
          module: 'auto-track-event',
          track_category: 'email_subscriptions',
          track_action: 'unsubscribe_list',
          track_label: @title,
        },
      } %>
    <% end %>

    <% if authenticated? %>
      <p class="govuk-body">
        <%= link_to "Cancel",
                    list_subscriptions_path,
                    class: %w[govuk-link govuk-link--no-visited-state] %>
      </p>
    <% end %>
  </div>
</div>
