<% content_for :title, t("unsubscriptions.title.confirm") %>

<% if authenticated? %>
  <% content_for :back_link do %>
    <%= render "govuk_publishing_components/components/back_link", {
      href: list_subscriptions_path
    } %>
  <% end %>
<% end %>

<%= render "govuk_publishing_components/components/heading", {
  text: t("unsubscriptions.title.confirm"),
  heading_level: 1,
  font_size: "l",
  margin_bottom: 6,
} %>

<%= render "confirmation" %>
<%
  ga4_data = {
    event_name: "form_response",
    type: "email subscription",
    section: t("unsubscriptions.title.confirm", locale: :en),
    text: t("unsubscriptions.confirmation.with_title", title: @title, locale: :en),
    action: "unsubscribe",
    tool_name: "Get emails from GOV.UK",
  }.to_json
%>
<%= form_tag(
  { action: :confirmed },
  data: {
    module: "ga4-form-tracker",
    ga4_form: ga4_data
  }) do %>
  <%= hidden_field_tag :token, params[:token] %>

  <%= render 'govuk_publishing_components/components/button', {
    text: 'Unsubscribe',
    margin_bottom: true,
    data_attributes: {
      module: 'auto-track-event',
      track_category: 'email_subscriptions',
      track_action: 'unsubscribe_list',
      track_label: @title,
    },
  } %>
<% end %>

<% if authenticated? %>
  <p class="govuk-body">
    <%= link_to "Cancel",
                list_subscriptions_path,
                class: %w[govuk-link govuk-link--no-visited-state] %>
  </p>
<% end %>
