<% content_for :title, t("account_subscriptions.confirm.title") %>

<%= render "govuk_publishing_components/components/heading", {
  text: t("account_subscriptions.confirm.title"),
  heading_level: 1,
  font_size: "xl",
  margin_bottom: 6
} %>

<p class="govuk-body">
  <% if @subscriber_list["content_id"].present? %>
    <%= t("account_subscriptions.confirm.description.page") %>
  <% else %>
    <%= t("account_subscriptions.confirm.description.topic") %>
  <% end %>
</p>

<p class="govuk-body">
  <strong><%= @subscriber_list["title"] %></strong>
</p>

<%
  ga4_data = {
    event_name: "form_response",
    type: "email subscription",
    section: t("account_subscriptions.confirm.title", locale: :en),
    text: @subscriber_list["title"],
    action: "confirm",
    tool_name: "Get emails from GOV.UK",
  }.to_json
%>
<%= form_tag(
  { action: :create },
  data: {
    module: "ga4-form-tracker",
    ga4_form: ga4_data
  }) do %>
  <%= hidden_field_tag "topic_id", @topic_id %>
  <%= hidden_field_tag "frequency", @frequency %>
  <%= hidden_field_tag "return_to_url", @return_to_url %>
  <%= render "govuk_publishing_components/components/button", {
    text: t("account_subscriptions.confirm.confirm"),
    margin_bottom: 4,
    data_attributes: {
      module: "gem-track-click",
      track_category: "email_subscriptions",
      track_action: "new_account",
      track_label: @subscriber_list["title"],
    },
  } %>
<% end %>

<p class="govuk-body">
  <a href="/" class="govuk-link"><%= t("account_subscriptions.confirm.cancel") %></a>
</p>

<% unless @unlinked_subscriptions.empty? %>
  <%= render "govuk_publishing_components/components/heading", {
    text: t("account_subscriptions.confirm.unlinked_subscriptions.title"),
    heading_level: 2,
    font_size: "m",
    margin_bottom: 4
  } %>

  <%= t("account_subscriptions.confirm.unlinked_subscriptions.before_html", address: @address) %>

  <ul class="govuk-list govuk-list--bullet">
    <% @unlinked_subscriptions.each do |subscription| %>
      <li>
        <%= subscription.dig("subscriber_list", "title") %>
      </li>
    <% end %>
  </ul>

  <p class="govuk-body">
    <%= t("account_subscriptions.confirm.unlinked_subscriptions.after") %>
  </p>
<% end %>

<%= render "govuk_publishing_components/components/details", {
  title: t("account_subscriptions.confirm.how_we_use_information.title"),
  ga4_attributes: {
    index_section_count: 1
  }
} do %>
  <%= t("account_subscriptions.confirm.how_we_use_information.expanded_html") %>
<% end %>
