<% content_for :title, t("subscriber_authentication.no_subscriber.heading") %>

<%= render "govuk_publishing_components/components/heading", {
  text: t("subscriber_authentication.no_subscriber.heading"),
  heading_level: 1,
  font_size: "l",
  margin_bottom: 6,
} %>

<p class="govuk-body">
  <%= t("subscriber_authentication.no_subscriber.description_html", email: @address) %>
</p>

<p class="govuk-body">
  <a class="govuk-link" href=<%= sign_in_path %>>
    <%= t("subscriber_authentication.no_subscriber.retry_link_text") %>
  </a>
</p>

<%= render "govuk_publishing_components/components/heading", {
  text: t("subscriber_authentication.no_subscriber.how_to_get_updates_heading"),
  heading_level: 2,
  font_size: "m",
  margin_bottom: 6,
} %>

<%= t("subscriber_authentication.no_subscriber.how_to_get_updates_description_html") %>

<p class="govuk-body">
  <a class="govuk-link" href="https://www.gov.uk">
    <%= t("subscriber_authentication.no_subscriber.how_to_get_updates_link_text") %>
  </a>
</p>
