<% content_for :title, t("subscriber_authentication.sign_in.heading") %>

<%= render "govuk_publishing_components/components/heading", {
  text: t("subscriber_authentication.sign_in.heading"),
  heading_level: 1,
  font_size: "l",
  margin_bottom: 6,
} %>
<% if flash[:error] %>
  <%
    ga4_data = {
      event_name: "form_error",
      type: "email subscription",
      text: t("subscriber_authentication.sign_in.#{flash[:error]}.description", locale: :en),
      section: t("subscriber_authentication.sign_in.heading", locale: :en),
      action: "error",
      tool_name: "Get emails from GOV.UK"
    }.to_json
  %>
  <%= content_tag(:div,
    data: {
      module: "ga4-auto-tracker",
      ga4_auto: ga4_data
    }) do %>
    <%= render 'govuk_publishing_components/components/error_summary', {
      title: t("subscriber_authentication.sign_in.#{flash[:error]}.title"),
      items: [{
        text: t("subscriber_authentication.sign_in.#{flash[:error]}.description"),
        href: '#email-address-input'
      }]
    } %>
  <% end %>
<% end %>

<div class="govuk-body">
  <%= t("subscriber_authentication.sign_in.description_html") %>

  <%= render "govuk_publishing_components/components/inset_text", {
    text: t("subscriber_authentication.sign_in.cannot_setup_new")
  } %>
</div>

<%
  ga4_data = {
    event_name: "form_response",
    type: "email subscription",
    section: t("subscriber_authentication.sign_in.heading", locale: :en),
    action: "continue",
    tool_name: "Get emails from GOV.UK"
  }.to_json
%>
<%= form_tag(
  verify_subscriber_path,
  method: :post,
  novalidate: "novalidate",
  data: {
    module: "ga4-form-tracker",
    ga4_form: ga4_data
  }) do %>
  <%= render 'govuk_publishing_components/components/input', {
    error_message: flash[:error] &&
      t("subscriber_authentication.sign_in.#{flash[:error]}.message"),
    id: 'email-address-input',
    label: { text: t("subscriber_authentication.sign_in.email_input") },
    name: :address,
    type: 'email',
    value: @address,
  } %>

  <%= render 'govuk_publishing_components/components/button', {
    text: 'Continue',
    margin_bottom: true,
    data_attributes: {
      module: 'auto-track-event',
      track_category: 'email_subscriptions',
      track_action: 'authenticate',
    },
  } %>
<%- end -%>
