<% content_for :title, t("subscriber_authentication.heading") %>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t("subscriber_authentication.heading") %></h1>

    <% if flash[:error_summary] == "email" %>
      <%= render 'govuk_publishing_components/components/error_summary', {
        title: t("subscriber_authentication.sign_in.email_error.title"),
        items: [
          {
            text: t("subscriber_authentication.sign_in.email_error.description"),
            href: '#email-address-input',
          }
        ]
      } %>
    <% elsif flash[:error_summary] == "bad_token" %>
      <%= render 'govuk_publishing_components/components/error_summary', {
        title: t("subscriber_authentication.sign_in.bad_token_error.title"),
        description: t("subscriber_authentication.sign_in.bad_token_error.description"),
      } %>
    <% end %>

    <p class="govuk-body"><%= t("subscriber_authentication.sign_in.description") %></p>

    <%= form_tag request_sign_in_token_path, method: :post do %>
      <%= render 'govuk_publishing_components/components/input', {
        error_message: flash[:error],
        id: 'email-address-input',
        label: { text: t("subscriber_authentication.sign_in.email_input.label") },
        name: :address,
        type: 'email',
        value: @address,
      } %>

      <p class="govuk-body"><%= t("subscriber_authentication.sign_in.action") %></p>

      <%= render 'govuk_publishing_components/components/button', {
        text: 'Continue',
        margin_bottom: true,
        data_attributes: {
          module: 'auto-track-event',
          track_category: 'email_subscriptions',
          track_action: 'authenticate',
        },
      } %>
    <%- end -%>
  </div>
</div>
