<% content_for :title, t("subscriptions.check_email.title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t("subscriptions.check_email.title") %></h1>

    <p class="govuk-body">
      <%= t("subscriptions.check_email.description_html", address: @address) %>
    </p>

    <p class="govuk-body">
      <%= t("subscriptions.check_email.instruction") %>
    </p>

    <p class="govuk-body">
      <strong><%= @title %></strong>
    </p>

    <p class="govuk-body">
      <%= t("subscriptions.check_email.expiry") %>
    </p>

    <%= render "govuk_publishing_components/components/details", {
      title: t("subscriptions.check_email.not_received_title"),
    } do %>
      <%= t("subscriptions.check_email.not_received_detail_html") %>
    <% end %>
  </div>
</div>
