<% content_for :title, "Subscription created successfully" %>

<% content_for :head_css do %>
  <%= stylesheet_link_tag "application-without-elements" %>
<% end %>

<%= render "govuk_publishing_components/components/back_link", {
  href: @back_url,
} %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render "components/confirmation_box", {
      heading: "You’ve subscribed successfully",
    } %>

    <% frequency_variations = {
      "immediately" => "You’ll get an email each time there’s an update to ‘#{@title}’",
      "daily" => "You’ll get an email each day there’s been an update to ‘#{@title}’.",
      "weekly" => "You’ll get one email per week if there’s been an update to ‘#{@title}’.",
    } %>

    <%= govspeak do %>
      <p><%= frequency_variations[@frequency] %></p>
    <% end %>
  </div>
</div>
