<% content_for :title, "Subscribe to updates" %>

<% content_for :head do %>
  <meta name="robots" content="noindex, nofollow">
<% end %>

<% content_for :head_css do %>
  <%= stylesheet_link_tag "application-without-elements" %>
<% end %>

<%= render 'govuk_component/breadcrumbs', breadcrumbs: @breadcrumbs %>

<div class='grid-row'>
  <div class='column-two-thirds'>
    <%= render partial: 'govuk_component/title', locals: {
      average_title_length: "long",
      title: "Subscribe to updates",
    } %>

    <%= render "govuk_component/govspeak", {
      content: "<p>You'll get an email each time '#{@title}' is updated.</p>",
    } %>

    <%= form_tag "/email/subscriptions", method: :post do %>
      <%= hidden_field_tag :topic_id, @topic_id %>

      <%= render "components/input", {
        label: { text: "What is your email address?" },
        name: :address,
        value: @address,
        error: flash[:error],
      } %>

      <%= render "govuk_component/button", {
        text: "Subscribe",
        margin_bottom: true,
      } %>
    <%- end -%>
  </div>
</div>
