<% content_for :title, "Enter your email address" %>

<% content_for :head do %>
  <meta name="robots" content="noindex, nofollow">
<% end %>

<% content_for :head_css do %>
  <%= stylesheet_link_tag "application-without-elements" %>
<% end %>

<%= render "govuk_component/breadcrumbs", breadcrumbs: @breadcrumbs %>

<%= render "govuk_publishing_components/components/back_link", {
  href: @back_url,
} %>

<div class="grid-row">
  <div class="column-two-thirds">
    <% if flash[:error] %>
      <%= render "govuk_publishing_components/components/error_summary", {
        title: "We weren’t able to process your subscription",
        items: [
          {
            text: "There’s a problem with your email address",
            href: "#email-address-input",
          }
        ]
      } %>
    <% end %>

    <%= render partial: "govuk_component/title", locals: {
      title: "Enter your email address",
    } %>

    <% frequency_variations = {
      "immediately" => "You’ll get an email every time a page is added or changed.",
      "daily" => "You'll get an email each day if a page is added or changed.",
      "weekly" => "You'll get one email per week if a page is added or changed.",
    } %>

    <% subscription_info = capture do %>
      <p>
        You’re subscribing to get email notifications about: <br/>
        ‘<strong><%= @title %></strong>’.
      </p>
      <p><%= frequency_variations[@frequency] %></p>
    <% end %>

    <%= render "govuk_component/govspeak", content: subscription_info %>

    <%= form_tag create_subscription_path, method: :post do %>
      <%= hidden_field_tag :topic_id, @topic_id %>
      <%= hidden_field_tag :frequency, @frequency %>

      <%= render "govuk_publishing_components/components/input", {
        error_message: flash[:error],
        id: "email-address-input",
        label: { text: "What’s your email address?" },
        name: :address,
        type: "email",
        value: @address,
      } %>

      <%= render "govuk_component/button", {
        text: "Subscribe",
        margin_bottom: true,
      } %>
    <%- end -%>
    <%= render "govuk_component/govspeak", {
      content: '<p>We won’t share your email address with anyone. Read our <a href="https://www.gov.uk/help/privacy-policy" target="_blank">privacy policy (opens in new tab)</a>.</p>'
    } %>
  </div>
</div>
