<% content_for :title, "Get emails when pages are added or updated" %>

<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: @back_url
  } %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Get emails when pages are added or updated</h1>

    <%= form_tag subscription_frequency_path, method: :post do %>
      <%= hidden_field_tag :topic_id, @topic_id %>

      <%= render "govuk_publishing_components/components/fieldset", {
        legend_text: '<h2 class="govuk-heading-m">How often do you want to get updates?</h2>'.html_safe,
      } do %>
        <%= render "govuk_publishing_components/components/radio", {
          name: "frequency",
          items: [
            {
              value: "immediately",
              text: "As soon as they happen",
              checked: (@default_frequency == "immediately"),
            },
            {
              value: "daily",
              text: "No more than once a day",
              checked: (@default_frequency == "daily"),
            },
            {
              value: "weekly",
              text: "No more than once a week",
              checked: (@default_frequency == "weekly"),
            }
          ]
        } %>
      <% end %>

      <%= render "govuk_publishing_components/components/button", {
        text: "Next",
        margin_bottom: true,
        data_attributes: {
          module: 'auto-track-event',
          track_category: 'email_subscriptions',
          track_action: 'new_frequency',
          track_label: @topic_id,
        },
      } %>
    <% end %>
  </div>
</div>
