<% content_for :title, "Get emails when pages are added or updated" %>

<% content_for :head_css do %>
  <%= stylesheet_link_tag "application-without-elements" %>
<% end %>

<%= render "govuk_publishing_components/components/back_link", {
  href: @back_url,
} %>

<div class="grid-row">
  <div class="column-two-thirds">

    <%= title "Get emails when pages are added or updated" %>

    <%= form_tag subscription_frequency_path, method: :post do %>
      <%= hidden_field_tag :topic_id, @topic_id %>

      <div class="form-group">
        <%= render "govuk_publishing_components/components/fieldset", {
          legend_text: render("govuk_component/govspeak", content: %{<h2 class="app-legend-title">How often do you want to get updates?</h2>}),
        } do %>
          <%= render "govuk_publishing_components/components/radio", {
            name: "frequency",
            items: [
              {
                value: "immediately",
                text: "As soon as they happen",
                checked: true,
              },
              {
                value: "daily",
                text: "No more than once a day",
              },
              {
                value: "weekly",
                text: "No more than once a week",
              }
            ]
          } %>
        <% end %>
      </div>

      <div class="form-group">
        <%= render "govuk_publishing_components/components/button", {
          text: "Next",
          margin_bottom: true,
          data_attributes: {
            module: 'auto-track-event',
            track_category: 'email_subscriptions',
            track_action: 'new_frequency',
            track_label: @topic_id,
          },
        } %>
      </div>
    <%- end -%>
  </div>
</div>
