<% content_for :title, t("subscriptions.new_address.title") %>

<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: @back_url
  } %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <% if flash[:error] %>
      <%= render "govuk_publishing_components/components/error_summary", {
        title: t('subscriptions.new_address.general_problem'),
        items: [
          {
            text: t('subscriptions.new_address.email_validation'),
            href: "#email-address-input",
          }
        ]
      } %>
    <% end %>

    <%= tag.h1 t("subscriptions.new_address.title"), class: "govuk-heading-l" %>

    <%= tag.p t("subscriptions.new_address.description_html", title: @title), class: "govuk-body" %>

    <p class="govuk-body">
      <%= t("subscriptions.new_address.summary.#{@frequency}") %>
    </p>

    <%= form_tag(verify_subscription_path, class: "checklist-email-signup", novalidate: "novalidate") do %>
      <%= hidden_field_tag :topic_id, @topic_id %>
      <%= hidden_field_tag :frequency, @frequency %>

      <%= render "govuk_publishing_components/components/input", {
        error_message: flash[:error],
        id: "email-address-input",
        label: { text: t("subscriptions.new_address.question") },
        name: :address,
        type: "email",
        value: @address,
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: "Continue",
        margin_bottom: true,
        data_attributes: {
          module: 'track-click',
          track_category: 'email_subscriptions',
          track_action: 'new_email_confirm',
          track_label: "#{@topic_id} #{@frequency}",
        },
      } %>
    <%- end -%>

    <p class="govuk-body">
      We won’t share your email address with anyone. Read our
      <%= link_to "privacy policy (opens in a new tab)",
                  "/help/privacy-policy",
                  target: "_blank",
                  class: "govuk-link" %>.
    </p>
  </div>
</div>
