<% content_for :title, t("subscriptions.use_your_govuk_account.heading") %>

<%= render "govuk_publishing_components/components/heading", {
  text: yield(:title),
  heading_level: 1,
  font_size: "l",
  margin_bottom: 6,
} %>

<p class="govuk-body"><%= t("subscriptions.use_your_govuk_account.description") %></p>

<p class="govuk-body"><strong><%= @subscriber_list["title"] %></strong></p>
<%
  ga4_data = {
    event_name: "form_response",
    type: "email subscription",
    section: t("subscriptions.use_your_govuk_account.heading", locale: :en),
    action: "continue",
    text: t("subscriptions.use_your_govuk_account.continue", locale: :en),
    tool_name: "Get emails from GOV.UK"
  }.to_json
%>
<%= form_tag(
  verify_subscription_account_path,
  method: "post",
  data: {
    module: "explicit-cross-domain-links ga4-form-tracker",
    ga4_form: ga4_data
  }) do %>
  <%= render "govuk_publishing_components/components/button", {
    text: t("subscriptions.use_your_govuk_account.continue"),
  } %>
<% end %>
