<% content_for :title, t("single_page_subscriptions.title") %>

<%= render "govuk_publishing_components/components/heading", {
  text: t("single_page_subscriptions.title"),
  heading_level: 1,
  font_size: "l",
  margin_bottom: 6
} %>

<p class="govuk-body">
  <%= t("single_page_subscriptions.account_required_description") %>
</p>

<%= render "govuk_publishing_components/components/heading", {
  text: t("single_page_subscriptions.subheading"),
  heading_level: 2,
  font_size: "m",
  margin_bottom: 6
} %>

<%= t("single_page_subscriptions.accounts_are_new_description_html") %>

<%= render "govuk_publishing_components/components/inset_text" do
  t("single_page_subscriptions.inset_description_html")
end %>

<%= t("single_page_subscriptions.usage_description_html") %>

<%= render "govuk_publishing_components/components/heading", {
  text: t("single_page_subscriptions.other_subs_heading") ,
  heading_level: 2,
  font_size: "m",
  margin_bottom: 6
} %>

<%= t("single_page_subscriptions.other_subs_description_html") %>

<%= render "govuk_publishing_components/components/heading", {
  text: t("single_page_subscriptions.button_heading") ,
  heading_level: 2,
  font_size: "m",
  margin_bottom: 6
} %>

<%= form_tag single_page_new_session_path, method: :post, :"data-module" => "explicit-cross-domain-links" do %>

  <%= render "govuk_publishing_components/components/inset_text" do
    t("single_page_subscriptions.mobile_phone_warning")
  end %>

  <%= render "govuk_publishing_components/components/button", {
    text: t("single_page_subscriptions.create_or_sign_in_description"),
    data_attributes: {
      module: "gem-track-click",
      track_action: t("single_page_subscriptions.create_or_sign_in_description"),
      track_category: "External link clicked",
      track_label: @topic_id,
    }
  } %>

  <%= hidden_field_tag(:topic_id, @topic_id) %>

<% end %>
