<% content_for :title, @taxon['title'] %>

<%= render "govuk_publishing_components/components/back_link", {
  href: @taxon['base_path']
} %>

<div class='grid-row'>
<div class='column-two-thirds'>

<% child_taxons = @taxon.dig('links', 'child_taxons') %>

<% if child_taxons.present?%>
  <%= title "What do you want to get alerts about?", average_title_length: "long" %>

  <%= form_tag({action: "confirm"}, method: "get") do %>
    <fieldset>
      <legend id="alerts" class="visually-hidden">What do you want to get alerts about?</legend>
      <div class='email-signup-taxons' role='radiogroup' aria-labelledby='alerts'>
        <p class="email-option">Everything published to GOV.UK about</p>

        <%= render partial: 'taxon', locals: { taxon: @taxon, is_parent: true } %>

        <p class='email-option form-block'>or only one of the following <%= child_taxons.count %> topics</p>

        <% child_taxons.each_with_index do |taxon, taxon_index| %>
          <%= render partial: 'taxon', locals: { taxon: taxon, taxon_index: taxon_index + 1 } %>
        <% end %>
      </div>

      <input class="button no-js-hidden-submit" type="submit" value="Select">
    </fieldset>
  <% end %>

<% else %>

  <%= title "Get email alerts", average_title_length: "long" %>

  <div>
    <p>You are signing up for email alerts about: <%= @taxon['title']%></p>
    <% if @taxon['description'].present? %>
      <p>This will include: <%= @taxon['description'] %></p>
    <% end %>

    <%= link_to 'Select', confirm_taxonomy_signup_path(topic: @taxon['base_path']), class: 'button' %>
  </div>

<% end %>

<br />
<%= link_to 'Back to select a different topic', @taxon['base_path'] %>

</div>
</div>
