<% content_for :title, @taxon['title'] %>

<% if live_taxon?(@taxon) %>
  <% content_for :back_link do %>
    <%= render "govuk_publishing_components/components/back_link", {
      href: @taxon['base_path']
    } %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <% if child_taxons.present?%>
    <h1 class="govuk-heading-l">What do you want to get alerts about?</h1>

    <%= form_tag({action: "confirm"}, method: "get") do %>

      <p class="app-email-option">Everything published to GOV.UK about</p>
      <%= render "govuk_publishing_components/components/radio", {
        name: "topic",
        id_prefix: "all",
        items: [{
          value: @taxon['base_path'],
          text: @taxon['title'],
          conditional: '<p class="govuk-body">This will include alerts about all the topics below</p>'.html_safe
        }]
      } %>

      <p class='app-email-option'>or only one of the following <%= child_taxons.count %> topics</p>
      <%= render "govuk_publishing_components/components/radio", {
        name: "topic",
        id_prefix: "topics",
        items: child_taxons.each.map { |taxon| {
          :value => taxon['base_path'],
          :text => taxon['title'],
          :conditional => taxon['description'].present? ? ('<p class="govuk-body">This will include: ' + taxon['description'] + '</p>').html_safe : nil
        } }
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: "Select",
        margin_bottom: true
      } %>
    <% end %>

  <% else %>

    <h1 class="govuk-heading-l">Get email alerts</h1>

    <p class="govuk-body">You are signing up for email alerts about: <%= @taxon['title']%></p>
    <% if @taxon['description'].present? %>
      <p class="govuk-body">This will include: <%= @taxon['description'] %></p>
    <% end %>

    <%= render "govuk_publishing_components/components/button", {
      text: "Select",
      href: confirm_taxonomy_signup_path(topic: @taxon['base_path']),
      margin_bottom: true
    } %>

  <% end %>

  <% if live_taxon?(@taxon) %>
  <p class="govuk-body">
    <%= link_to 'Back to select a different topic', @taxon['base_path'], class: 'govuk-link' %>
  </p>
  <% end %>

  </div>
</div>
