<% content_for :body do %>
  <div class="govuk-width-container" id="wrapper">
    <%= yield :back_link %>
    <main class="govuk-main-wrapper<%= " govuk-main-wrapper--l" if yield(:back_link).blank?%>" role="main" id="content">
      <div id="email-alert-frontend">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
  </div>
<% end %>

<%= content_for :head do %>
  <%= csp_meta_tag %>
  <meta name="robots" content="noindex, nofollow">

  <%# add_gem_component_stylesheet("emergency-banner") %>
  <%# add_gem_component_stylesheet("global-banner") %>
  <%# add_gem_component_stylesheet("phase-banner") %>

  <%= render_component_stylesheets %>
<% end %>

<%= render "govuk_publishing_components/components/layout_for_public", {
      title: yield(:title),
      show_explore_header: true,
  } do %>
  <%= yield :body %>
<% end %>
