<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> - GOV.UK</title>
    <%= csrf_meta_tags %>
    <% if content_for(:meta_description).present? %>
      <meta name="description" content="<%= content_for(:meta_description) %>" />
    <% end %>

    <%if content_for?(:head_css) %>
      <%= yield :head_css %>
    <% else %>
      <%= stylesheet_link_tag "application" %>
    <% end %>

    <%= yield :head %>
  </head>

  <body>
    <div id="wrapper">
      <main id="content" role="main" class="email-alert-frontend-content">
        <div id="email-alert-frontend">
          <%= yield %>
        </div>
      </main>
    </div>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
