<% content_for :body do %>
  <div class="govuk-width-container" id="wrapper">
    <%= yield :back_link %>
    <main class="govuk-main-wrapper<%= " govuk-main-wrapper--l" if yield(:back_link).blank?%>" role="main" id="content">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <%= yield %>
        </div>
      </div>
    </main>
  </div>
<% end %>

<%= content_for :head do %>
  <%= csp_meta_tag %>
  <meta name="robots" content="noindex, nofollow">
  <%= render_component_stylesheets %>
<% end %>

<%= render "govuk_publishing_components/components/layout_for_public", {
      title: yield(:title),
  } do %>
  <%= yield :body %>
<% end %>
