<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> - GOV.UK</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if content_for(:meta_description).present? %>
      <meta name="description" content="<%= content_for(:meta_description) %>" />
    <% end %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= yield :head %>
    <meta name="robots" content="noindex, nofollow">
  </head>
  <body class="govuk-template__body">
    <% if use_govuk_account_layout? %>
      <div id="wrapper">
        <% content_for :before_content do %>
          <%= yield :back_link %>
        <% end %>
        <%= yield :before_content %>
        <main role="main" id="content">
          <%= yield %>
        </main>
      </div>
    <% else %>
      <div class="govuk-width-container" id="wrapper">
        <%= yield :back_link %>
        <main class="govuk-main-wrapper<%= " govuk-main-wrapper--l" if yield(:back_link).blank?%>" role="main" id="content">
          <div id="email-alert-frontend">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <%= yield %>
              </div>
            </div>
          </div>
        </main>
      </div>
    <% end %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
